[Desktop Entry]
Name=Haus.eva
Exec=webapp-container --fullscreen --store-session-cookies --webappUrlPatterns=http?://hassio:8123/* http://hassio:8123
Icon=assets/logo.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
